:root {
  --background-color: #111111;

  --foreground-color: #dddddd;

  --selected-tab-background-color: #333333;
  --selected-tab-foreground-color: #aaaaaa;

  --bar-height: 46px;
  --urlbar-results-height: 220px;

  --min-tab-width: 3em;
  --max-tab-width: 10em;

  /*
   * Even though there dynamic calculation of
   * the URL bar results position, its always some
   * constant N off. You might have to tweak this
   * to get the URL bar results to attach correctly
   * to said URL bar
   * */
  --urlbar-results-error-correction: 8px;
  --ui-font: "ProggyCleanTT", monospace;
}

* {
  font-family: var(--ui-font) !important;
  font-size: 16px !important;
  font-smooth: never;
  text-rendering: geometricPrecision;

}


/*
 * ====================================================
 * Tab Styling
 * ====================================================
 */

#navigator-toolbox {
  height: var(--bar-height);
  background-color: var(--background-color);
  color: var(--foreground-color);
  border-bottom: 0 !important;
  padding-left: 1px;
}

#titlebar,
#tabbrowser-tabs {
  height: var(--bar-height) !important;
}

.tabs-newtab-button:hover .toolbarbutton-icon {
  cursor: pointer !important;
  background-color: transparent !important;
  opacity: 1 !important;
}

.tab-content {
  padding: 0 1em !important;
}

.tab-background {
  border: none;
}

.tabbrowser-tab .tab-background-inner,
.tabbrowser-tab .tab-text {
  background-color: var(--background-color) !important;
  color: var(--foreground-color) !important;
  opacity: 0.8 !important;
}

.tabbrowser-tab[selected=true] .tab-background-inner,
.tabbrowser-tab[selected=true] .tab-text {
  opacity: 1 !important;
}

.tabs-newtab-button,
.tabbrowser-tab .tab-line,
.tab-icon-image,
.tab-bottom-line,
.tab-loading-burst,
.tab-throbber,
.tab-close-button,
.tabbrowser-tab::after,
.tabbrowser-tab::before {
  display:none !important;
}

.tab-label-container[textoverflow]:not([pinned]) {
  mask-image: unset !important;
}


/*
 * ====================================================
 * URL Bar Styling
 * ====================================================
 */

#nav-bar {
	position: fixed !important;
	bottom: 0 !important;
	background-color: var(--background-color) !important;
  height: var(--bar-height) !important;
  width: 100%;
}

/*
 * Adds borders to the side of the window.
 * Adds padding to bottom of Firefox window to compensate
 * for the URL bar being anchored there via `position: fixed`
 *
 * If `[inFullscreen="true"]` however, remove the padding so that
 * fullscreen video renders properly
 * */
#browser {
  border-left: 1px solid var(--background-color);
  border-right: 1px solid var(--background-color);
	padding-bottom: var(--bar-height) !important;
}

[inFullscreen="true"] + * + #browser {
	padding-bottom: 0 !important;
}

/*
 * URL bar should span entire window width and be centered
 * in its container
 * */
#urlbar-container {
  width: 100vw !important; /* 100% doesn't work */
  height: var(--bar-height) !important;
}

#urlbar {
  background: transparent !important;
  border: none !important;
  color: var(--foreground-color) !important;
}

#back-button,
#forward-button {
  display: none;
}

#identity-box {
  padding-inline-start: 0px !important;
  border: none;
}

#tracking-potection-icon-box,
#identity-icon,
#connection-icon,
.urlbar-history-dropmarker,
#page-action-buttons {
  display: none;
}

#urlbar-results {
  position: relative !important;
  border: 1px solid var(--background-color) !important;
  width: calc(100% - 6px) !important;
  bottom: var(--bar-height) !important;
  max-height: var(--urlbar-results-height) !important;
  min-height: var(--urlbar-results-height) !important;
  background-color: white !important;
  overflow: hidden !important;
  margin-top: calc((
     0px -
     var(--bar-height)) -
     var(--urlbar-results-height) +
     var(--urlbar-results-error-correction)
    ) !important;
}

#urlbar-results > .urlbarView-body-outer {
  height: var(--urlbar-results-height) !important;
}
